{if !empty($vars.status)}<div class="ow_newsfeed_body_status ow_smallmargin">{$vars.status|more:300}</div>{/if}

<div class="ow_newsfeed_oembed_atch clearfix">
    <div class="ow_newsfeed_item_picture">
    <a href="{if !empty($vars.url)}{$vars.url}{else}javascript://{/if}"><img src="{$vars.thumbnail}" alt="{$vars.title|escape}" /></a>
    </div>
    <div class="ow_newsfeed_item_content">
        <a class="ow_newsfeed_item_title" href="{if !empty($vars.url)}{$vars.url}{else}javascript://{/if}">{$vars.title}</a>
        <div class="ow_remark ow_smallmargin">{$vars.description}</div>

        {if $vars.userList}
            <div class="owm_newsfeed_ulist">
                <div class="owm_newsfeed_item_padding owm_newsfeed_item_box clearfix">
                    <div class="owm_newsfeed_ulist_count" style="display:inline-block">
                        {$vars.userList.label}
                    </div>
                    {$vars.userList.list}
                </div>
            </div>
        {/if}
    </div>
</div>